/* ========================================
   Custom sytles for Random Quote Machine
   Michael Atkinson
   ======================================== */
/**************************
    MAIN BUTTONS
**************************/

.buttonBox {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 100px;
  height: 20%;
  box-sizing: border-box;
}

.buttonBox a, .buttonBox button {
  margin: 1em auto;
  width: 80%;
  display: block;
  height: 40%;
  box-sizing: inherit;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-active {
/* copy of bootstrap button:disabled */
pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}


/**************************
    FOOTER
**************************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}
footer p {
    display: inline-block;
}
footer button {
    margin-left: 20px;
}

/* Last anchor */
footer .hiddenAnchor {
    margin-left: 20px;
}
/* End footer */

/**************************
    SPINNER
**************************/
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/* End spinner */